body{
   display: flex;
   justify-content: center;
   font-family: "Poppins", sans-serif; 
   height: 100vh;
   background-color: #d7e1e4;
   line-height: 1.5;
}

.container{
    background-color: #899ba0;
    border: 2px solid #204b77;
    margin: 10%;
    padding: 5%;
    border-radius: 2rem;
    height: fit-content;
}

.title{
    text-align: center;
    color: #293436;
    font-size: 30px;
}

/* Game header style */
.title span{
    color: #eff5f6;
}

.game_status{
    text-align: center;
    font-size: 14px;
    margin: 5% 0;
    color: #eff5f6;
}

.game_status h2{
    margin-top: 12%;
}

.reset_game{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 3% 5%;
    outline: none;
    color: #fff;
    background-color: #3f6c7a;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #494949;
    letter-spacing: 2px;
}

.reset_game span{
    margin: 2% 3%;
    font-size: 16px;
}

.reset_game:hover{
    text-decoration: underline;
    background-color: #293436;
    transition: 2s;
}

/* Game board/cells style */
.game_board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
}

.cell{
    height: 6rem;
    width: 6rem;
    background-color: bisque;
}