body{
   display: flex;
   justify-content: center;
   font-family: "Poppins", sans-serif; 
   height: 100vh;
   background-color: #d7e1e4;
}

.container{
    background-color: #899ba0;
    border: 2px solid #204b77;
    margin: 10%;
    padding: 5%;
    border-radius: 2rem;
    width: 60%;
    height: 60%;
}

.title{
    text-align: center;
    color: #293436;
    font-size: 30px;
}

.title span{
    color: #eff5f6;
}

.game_status{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 3% 0;
    color: #eff5f6;
}

.reset_game{
    cursor: pointer;
}

.reset_game:hover{
    text-decoration: underline;
    color: #293436;
}