body{
   display: flex;
   justify-content: center;
   font-family: "Poppins", sans-serif; 
   height: 100vh;
   background-color: #d7e1e4;
   line-height: 1.5;
}

.container{
    background-color: #899ba0;
    border: 2px solid #204b77;
    margin: 10%;
    padding: 5%;
    border-radius: 2rem;
    height: fit-content;
    /* width: 60%;
    height: 60%; */
}

.title{
    text-align: center;
    color: #293436;
    font-size: 30px;
}

/* Game header style */
.title span{
    color: #eff5f6;
}

.game_status{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 3% 0;
    color: #eff5f6;
}

.reset_game{
    cursor: pointer;
}

.reset_game:hover{
    text-decoration: underline;
    color: #293436;
}

/* Game board/cells style */
.game_board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
}

.cell{
    height: 6rem;
    width: 6rem;
    background-color: bisque;
}